<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookms.mapper.BookMapper">

    <select id="findAll" resultType="Book">
        select * from book
    </select>

    <select id="searchBookByName" resultType="com.example.bookms.entity.Book">
        select * from book where name like concat('%', #{keyword}, '%') or author like concat('%', #{keyword}, '%')
    </select>

    <insert id="add" parameterType="Book">
        insert into book(name,author,publish,price,status)
        values(#{name},#{author},#{publish},#{price},#{status})
    </insert>

    <delete id="delete" parameterType="int">
        delete from book where id=#{id}
    </delete>

    <select id="findById" parameterType="int" resultType="Book">
        select * from book where id=#{id}
    </select>

    <update id="update" parameterType="Book">
        update book set name=#{name},author=#{author},publish=#{publish},price=#{price}
        where id=#{id}
    </update>

    <update id="borrowBook">
        update book set status = '已借出' where id = #{id} and status = '可借'
    </update>
    <update id="returnBook">
        update book set status = '可借' where id = #{id} and status = '已借出'
    </update>
</mapper>